@lockbox:registry=https://lockbox-codeartifact-domain-409724810703.d.codeartifact.us-east-1.amazonaws.com/npm/lockbox-npm-repository/
//lockbox-codeartifact-domain-409724810703.d.codeartifact.us-east-1.amazonaws.com/npm/lockbox-npm-repository/:always-auth=true
//lockbox-codeartifact-domain-409724810703.d.codeartifact.us-east-1.amazonaws.com/npm/lockbox-npm-repository/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
